.git
.github
.env
.env.*
!.env.example
!.env.testing.example
.phpunit.cache
.phpunit.result.cache
node_modules
public/build
public/hot
session_data
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
vendor
*.log
*.sql
*.zip
*.tar.gz
